.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;

	button {
		margin-top: 10px;
		width: 120px;
		height: 40px;
		cursor: pointer;
		background-color: #489aee;
		color: white;
		border: none;
		border-radius: 12px;
	}
}
